@page
@model BloggingApp.Web.Pages.Account.Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <input asp-for="Input.RememberMe" />
        <label asp-for="Input.RememberMe">Remember me?</label>
    </div>
    <button type="submit">Login</button>
</form>