@page
@model BloggingApp.Web.Pages.Account.ResetPasswordConfirmation
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>Please check your email to reset your password.</h3>
</div>